<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} %-5level [%thread{20}] %logger{-1} line=%L - %message%n%xException</Pattern>
		</encoder>
	</appender>

	<root level="${logger.root:-INFO}">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>